/* Buttons */
.btn {
    display: inline-block;
    padding: 1rem;
    margin-left: 1rem;
    background: rgb(80, 0, 20);
    color: #bbb;
    border: none;
    border-radius: 2px;
}

.btn:hover {
    background: #bbb;
    color: #111;
}

/* Sections */
.section {
    position: relative;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    overflow: hidden;
}

.section-image {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

.section-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.section-content nav {
    padding: 0 2rem;
}

.section-content nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.section-content nav ul li a {
    font-size: 1.3rem;
    display: block;
    box-sizing: border-box;
    margin: 0 0.5rem;
    padding: 1rem;
    color: #f4f4f4;
    text-shadow: 0 0 4px #777;
}

.section-content nav ul li a:hover {
    background: #f4f4f4;
    color: #333;
    text-shadow: none;
}

.section-content nav ul li a.custom {
    padding: 1rem 1.5rem;
    margin: 0 0.5rem;
    background: rgba(200, 0, 40, 0.5);
    color: #f4f4f4;
    font-weight: 900;
    text-shadow: none;
}

.section-content nav ul li a.custom:hover {
    background: rgba(250, 0, 40, 0.5);
    color: #f4f4f4;
    text-shadow: none;
}

.section-content .text-content {
    display: flex;
    flex: 15;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 2rem;
    margin: 0;
}

/* Utility Text */
.text-highlight {
    color: rgb(180, 100, 30);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 0.5rem;
    border-radius: 2px;
    font-weight: 900;
}

.text-light {
    color: #f1f1f1;
}

.text-bright {
    color: #fff;
}

.text-dark {
    color: #111;
}

.text-gray {
    color: #333;
}

.text-light-gray {
    color: #ccc;
}

.text-lead {
    font-size: 3.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem;
    color: rgb(140, 0, 20);
    /* color: rgb(100, 0, 20); */
}

.text-xlarge {
    font-size: 3.5rem;
}

.text-large {
    font-size: 2.5rem;
}

.text-medium-large {
    font-size: 1.6rem;
}

.text-medium {
    font-size: 1.2rem;
}

.text-small {
    font-size: 1rem;
}

/* Utility Background */
.bg-light {
    background: rgba(200, 200, 200, 0.5);
}

.bg-dark {
    background-image: linear-gradient(transparent, black);
}

.bg-dark-less {
    background-image: linear-gradient(transparent, rgba(30, 30, 30, 0.8));
}

.bg-dark-full {
    background: rgba(30, 30, 30, 0.6);
}

.bg-dark-deep {
    background: rgba(30, 30, 30, 0.9);
}

.bg-red {
    background-image: linear-gradient(transparent, rgba(40, 0, 0, 0.8));
}

.bg-red-less {
    background-image: linear-gradient(transparent, rgba(40, 0, 0, 0.4));
}

.bg-red-full {
    background: rgba(80, 0, 0, 0.6);
}

.bg-blue {
    background-image: linear-gradient(transparent, rgba(10, 80, 120, 0.8));
}

.bg-blue-less {
    background-image: linear-gradient(transparent, rgba(10, 80, 120, 0.4));
}

.bg-blue-full {
    background: rgba(5, 50, 90, 0.95);
}

.bg-main {
    background-image: linear-gradient(transparent, rgba(40, 20, 120, 1.0));
}

.bg-main-less {
    background-image: linear-gradient(transparent, rgba(40, 20, 120, 0.2));
}

.bg-main-full {
    background-color: rgba(40, 20, 120, 0.95);
}

/* Utility Margin */
.m-1 {
    margin: 0.5rem
}

.m-2 {
    margin: 2rem
}

.m-3 {
    margin: 3rem
}

.ml-1 {
    margin-left: 0.5rem;
}

.ml-2 {
    margin-left: 1.5rem;
}

.mr-1 {
    margin-right: 0.5rem;
}

.mr-2 {
    margin-right: 1.5rem;
}

/* Utility Padding */
.p-1 {
    padding: 0.5rem
}

.p-2 {
    padding: 2rem
}

.p-3 {
    padding: 3rem
}

.pl-1 {
    padding-left: 0.5rem;
}

.pl-2 {
    padding-left: 1.5rem;
}

.pr-1 {
    padding-right: 0.5rem;
}

.pr-2 {
    padding-right: 1.5rem;
}